CompileFlags:
    CompilationDatabase: ./
Index:
    Background: Build
    StandardLibrary: yes
Diagnostics:
    ClangTidy:
        FastCheckFilter: Loose
    UnusedIncludes: Strict
    MissingIncludes: Strict
Completion:
    AllScopes: Yes
InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    Designators: Yes
    BlockEnd: Yes
    TypeNameLimit: 0
Hover:
    ShowAKA: Yes
